/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');

/*===== FONTS =====*/
:root{
    --body-font:'Nova Cut';
    --extra-big-font-size: 2.5rem;
    --big-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.9rem;
    --extra-small-font-size: 0.8rem;
    --font-semi: 600;
}

/*===== COLORS =====*/
:root{
    --first-color: #BF7E04;
    --second-color: #2E1206;

    --background-color: #fae9c5;

    /* color palette */
    --yellow-color: #F5BE4C;
    --red-color: #D86A5A;
    --green-color: #93B053;
    --blue-color: #0086FD;
}


/*===== MARGINS =====*/
:root{
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
html{
    scroll-behavior: smooth;
}

.v-tab{
    font-family: var(--body-font);
}

h1,h2,p{
    margin: 0;
    font-family: var(--body-font);
}
p{
    font-family: 'Nova Oval', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: square;
    font-family: 'Nova Oval', sans-serif;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: var(--first-color);
}

/*==== COLOR SVG IMAGES ====*/
.figure-svg{
    filter: invert(10%) sepia(14%) saturate(2835%) hue-rotate(336deg) brightness(95%) contrast(101%);
}

/*===== FOOTER =====*/
.footer__title{
    width: 200px;
}

.footer__social{
    margin-bottom: var(--mb-4);
}

.footer__icon{
    font-size: var(--small-font-size);
    color: #fff !important;
    margin: 0 var(--mb-2);
}
